.boutonStyle{
	padding:5px;
	border-radius: 8px;
}

.bodyStyle {
	margin-left: 60px;
	margin-right: 60px;
}

.headerStyle {
	font-family: Calibri;
	height: 140px;
}

.footerStyle {
	font-family: Calibri;
	height: 120px;
}

.image {
	width: 60px;
	height: 60px;
	border-radius: 10%;
}



.image2 {
	width: 150px;
	height: 150px;
	border-radius: 10%;
}

.image3 {
	width: 300px;
	height: 300px;
	border-radius: 10%;
}


#rcorners2 {
	border-radius: 25px;
	background-color: CornflowerBlue;
	border: 5px solid Darkblue;
	width: 95%;
	left: 2.5%;
	height: 120px;
	position: absolute;
	height: 120px;
}

.formStyle {
	padding: 20px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 500px) {
	.bodyStyle {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1300px) {
	#headerResponsive {
		display: none;
	}
	#footerResponsive {
		display: none;
	}
	#footerResponsive2 {
		position: absolute;
		left: 5%;
		bootom: 2%;
		text-align: center;
		color: DarkBlue;
		font-size: 100%;
	}
}

.logo {
	position: absolute;
	left: 10%;
	top: 8%;
}

.headertext {
	position: absolute;
	left: 40%;
	text-align: center;
	color: DarkBlue;
	text-align: center;
	color: DarkBlue;
	font-size: 250%;
}



.footertext1 {
	position: absolute;
	left: 20%;
	bootom: 5%;
	text-align: center;
	color: DarkBlue;
	text-align: center;
	color: DarkBlue;
	font-size: 250%;
}

.footertext2 {
	position: absolute;
	left: 40%;
	bootom: 2%;
	text-align: center;
	color: DarkBlue;
	text-align: center;
	color: DarkBlue;
	font-size: 100%;
	text-align: center;
}

.ui-menubar {
	background-color: red !important;
	border: 3px solid darkblue !important;
	border-radius: 10px;
	
}


.ui-menuitem-link:hover {
	background-color: CornflowerBlue !important;
	border: 2px solid darkblue !important;
	border-radius: 10px;
}

.ui-menuitem-text:hover {
	color: darkblue !important;
	align-content: center !important;
}

.ui-menuitem-text {
	color: white;
}

.ui-paginator-top {
	background-color: CornflowerBlue !important;
	border: 2px solid darkblue !important;
}

.ui-paginator-bottom {
	background-color: CornflowerBlue !important;
	border: 2px solid darkblue !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ui-carousel-header{
	background-color: CornflowerBlue !important;
	border: 2px solid darkblue !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ui-carousel-item{
	
	border: 2px solid darkblue !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ui-datagrid {
	border: 2px solid darkblue !important;
	border-radius: 14px;
}

.ui-datagrid-header {
	background-color: red !important;
	color: white ! important;
	border: 2px solid darkblue !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 2px solid darkblue !important;
}

.ui-carousel{
	border:0px  !important;
	}

.ui-panel-titlebar {
	background-color: CornflowerBlue !important;
	border: 2px solid darkblue !important;
	border-radius: 8px;
}

.ui-panel {
	border: 3px solid darkblue !important;
	border-radius: 12px;
}

.ui-fieldset-legend {
	background-color: CornflowerBlue !important;
	border: 2px solid darkblue !important;
	border-radius: 10px;
}

.ui-fieldset {
	border: 2px solid darkblue !important;
	border-radius: 10px;
}

.ui-datatable-tablewrapper {
	border: 2px solid darkblue !important;
	border-radius: 10px;
}

th {
	background-color: red !important;
	color: white !important;
}

.ui-datatable-header {
	background-color: red !important;
	color: white ! important;
	border: 2px solid darkblue !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 2px solid darkblue !important;
}

